### WEB SCRAPING – ASSIGNMENT 4

In [1]:
# Importing Libraries

import selenium

import pandas as pd

from selenium import webdriver

from selenium.common.exceptions import StaleElementReferenceException
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import ElementNotInteractableException

from selenium.webdriver.common.by import By

import time


from bs4 import BeautifulSoup
import requests

import warnings
warnings.filterwarnings('ignore')

### 1. Scrape the details of most viewed videos on YouTube from Wikipedia.

In [2]:
# Activating the chrome browser
driver=webdriver.Chrome(r"C:\Users\Rabi Kumar\Downloads\File\chormedriver.exe")
time.sleep(1)

In [3]:
# Opening Wikipedia webpage
url='https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos'
driver.get(url)
time.sleep(2)

In [4]:
driver.maximize_window()

In [5]:
# Empty list for scraping data
Rank =[]
Name =[]
Artist =[]
Upload_date=[]
Views=[]

In [7]:
# Extracting Rank Via X path
try:
    rank=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[1]')
    for i in rank:
        Rank.append(i.text)
except NoSuchElementException:
    Rank.append('NA')
except StaleElementReferenceException:
    Rank.append('NA')
    
# Extracting Name Via X path
try:
    name=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[2]')
    for i in name:
        Name.append(i.text)
except NoSuchElementExceptionhElementException:
    Name.append('NA')
except StaleElementReferenceException:
    Name.append('NA')
    
# Extracting Artist Name Via Xpath
try:
    artist=driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[3]")
    for i in artist:
        Artist.append(i.text)
except NoSuchElementExceptionhElementException:
    Artist.append('NA')
except StaleElementReferenceException:
    Artist.append('NA')

# Extracting Upload date Via Xpath
try:
    upload_date=driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[5]")
    for i in upload_date:
        Upload_date.append(i.text)
except NoSuchElementExceptionhElementException:
    Upload_date.append('NA')
except StaleElementReferenceException:
    Upload_date.append('NA') 

# Extracting Views via Xpath
try:
    views=driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[4]")
    for i in views:
        Views.append(i.text)
except NoSuchElementExceptionhElementException:
    Views.append('NA')
except StaleElementReferenceException:
    Views.append('NA')

In [8]:
len(Rank),len(Name),len(Artist),len(Upload_date),len(Views)

(30, 30, 30, 30, 30)

In [9]:
# Dataframe for scrap data
Wiki_YT=pd.DataFrame({'Rank':Rank,'Video Name':Name,'Uploader':Artist,'Upload Date':Upload_date,'Views (in Billons)':Views})
print('\033[1m'+'Most Viewed Video on YouTube from Wikipedia :'+'\033[0m')
Wiki_YT

Most Viewed Video on YouTube from Wikipedia :

,Rank,Video Name,Uploader,Upload Date,Views (in Billons)
0,1.,"""Baby Shark Dance""[4]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",12.73
1,2.,"""Despacito""[7]",Luis Fonsi,"January 12, 2017",8.14
2,3.,"""Johny Johny Yes Papa""[14]",LooLoo Kids,"October 8, 2016",6.69
3,4.,"""Bath Song""[15]",Cocomelon – Nursery Rhymes,"May 2, 2018",6.15
4,5.,"""Shape of You""[16]",Ed Sheeran,"January 30, 2017",5.97
5,6.,"""See You Again""[18]",Wiz Khalifa,"April 6, 2015",5.86
6,7.,"""Phonics Song with Two Words""[23]",ChuChu TV,"March 6, 2014",5.26
7,8.,"""Wheels on the Bus""[24]",Cocomelon – Nursery Rhymes,"May 24, 2018",5.14
8,9.,"""Uptown Funk""[25]",Mark Ronson,"November 19, 2014",4.89
9,10.,"""Learning Colors – Colorful Eggs on a Farm""[26]",Miroshka TV,"February 27, 2018",4.87
10,11.,"""Gangnam Style""[27]",Psy,"July 15, 2012",4.77
11,12.,"""Masha and the Bear – Recipe for Disaster""[32]",Get Movies,"January 31, 2012",4.55
12,13.,"""Dame Tu Cosita""[33]",El Chombo,"April 5, 2018",4.32
13,14.,"""Axel F""[34]",Crazy Frog,"June 16, 2009",3.87
14,15.,"""Sugar""[35]",Maroon 5,"January 14, 2015",3.86
15,16.,"""Roar""[36]",Katy Perry,"September 5, 2013",3.78
16,17.,"""Counting Stars""[37]",OneRepublic,"May 31, 2013",3.77
17,18.,"""Sorry""[38]",Justin Bieber,"October 22, 2015",3.65
18,19.,"""Baa Baa Black Sheep""[39]",Cocomelon – Nursery Rhymes,"June 25, 2018",3.61
19,20.,"""Thinking Out Loud""[40]",Ed Sheeran,"October 7, 2014",3.58
20,21.,"""Waka Waka (This Time for Africa)""[41]",Shakira,"June 4, 2010",3.56
21,22.,"""Dark Horse""[42]",Katy Perry,"February 20, 2014",3.50
22,23.,"""Faded""[43]",Alan Walker,"December 3, 2015",3.44
23,24.,"""Perfect""[44]",Ed Sheeran,"November 9, 2017",3.42
24,25.,"""Lakdi Ki Kathi""[45]",Jingle Toons,"June 14, 2018",3.42
25,26.,"""Let Her Go""[46]",Passenger,"July 25, 2012",3.42
26,27.,"""Girls Like You""[47]",Maroon 5,"May 31, 2018",3.40
27,28.,"""Humpty the train on a fruits ride""[48]",Kiddiestv Hindi – Nursery Rhymes & Kids Songs,"January 26, 2018",3.38
28,29.,"""Lean On""[49]",Major Lazer,"March 22, 2015",3.37
29,30.,"""Bailando""[50]",Enrique Iglesias,"April 11, 2014",3.37

In [ ]:
driver.close()

### 2. Scrape the details teamIndia’sinternationalfixtures from bcci.tv.

In [18]:
# Importing Libraries

import selenium

import pandas as pd

from selenium import webdriver

from selenium.common.exceptions import StaleElementReferenceException
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import ElementNotInteractableException

from selenium.webdriver.common.by import By

import time


from bs4 import BeautifulSoup
import requests

import warnings
warnings.filterwarnings('ignore')

In [19]:
# Activating the chrome browser
driver=webdriver.Chrome(r"C:\Users\Rabi Kumar\Downloads\File\chormedriver.exe")
time.sleep(1)

In [20]:
# Opening Wikipedia webpage
url='https://www.bcci.tv/'
driver.get(url)
time.sleep(1)

In [21]:
driver.maximize_window()

In [22]:
#Clicking international fixture section
international=driver.find_element(By.XPATH,'//a[@class="nav-link "]')
driver.get(international.get_attribute('href'))

In [24]:
# Creating empty list
Match_title = []
Series = []
Place = []
Date = []
Time = []

In [25]:
 
# Scraping Match title
try:
    title=driver.find_element(By.XPATH,'//h5[@class="match-tournament-name ng-binding"]')
    Match_title.append(title.text)
except NoSuchElementException:
    Match_title.append('NA')
        
# Scraping Series Via Xpath
try:
    series=driver.find_element(By.XPATH,'//div[@class="match-card-middle__inner d-flex justify-content-between"]')
    Series.append(series.text)
except NoSuchElementException:
    Series.append('NA')
        
 # Scraping venue Via Xpath
try:
    place=driver.find_element(By.XPATH,'//span[@class="ng-binding"]')
    Place.append(place.text)
except NoSuchElementException:
    Place.append('NA')
        
# Scraping date Via Xpath
try:
    date=driver.find_element(By.XPATH,'//div[@class="match-dates ng-binding"]')
    Date.append(date.text)
except NoSuchElementException:
    Date.append('NA')
        
# Scraping Time Via Xpath
try:
    time=driver.find_element(By.XPATH,'//div[@class="match-time no-margin ng-binding"]')
    Time.append(time.text)
except NoSuchElementException:
    Time.append('NA')

In [26]:
len(Match_title),len(Series),len(Place),len(Date),len(Time)

(1, 1, 1, 1, 1)

In [28]:
# Dataframe for scrap data
Cricket=pd.DataFrame({'Match Title':Match_title,'Tournament':Series,'Venue':Place,'Date':Date,'Time':Time})
print('\033[1m'+'Team India’s Upcoming International fixtures :'+'\033[0m')
Cricket

Team India’s Upcoming International fixtures :

,Match Title,Tournament,Venue,Date,Time
0,ICC WORLD TEST CHAMPIONSHIP FINAL 2023,India\nvs\nAustralia,London,7 JUN 2023,3:30 PM IST

In [29]:
#Closing the driver
driver.close()

### 3. Scrape the details of State-wise GDP ofIndia fromstatisticstime.com.

In [19]:
# Activating the chrome browser
driver=webdriver.Chrome(r"C:\Users\Rabi Kumar\Downloads\File\chormedriver.exe")
time.sleep(1)

In [20]:
# Opening Wikipedia webpage
url='https://www.statisticstimes.com/'
driver.get(url)
time.sleep(1)

In [21]:
driver.maximize_window()

In [27]:
# Clicking on Ecomony section
economy = driver.find_element(By.XPATH,'//*[@id="top"]/div[2]/div[2]/button')
economy.click()

In [28]:
# Clicking on India under ecomony section
ind = driver.find_element(By.XPATH,'//*[@id="top"]/div[2]/div[2]/div/a[3]')  
ind.click()

In [29]:
# Clicking Indian State GDP
gdp = driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a') 
gdp.click()

In [30]:
# Creating Empty lists

Rank =[]
State =[]
GDSP_18_19 =[]
GDSP_19_20 =[]
Share =[]
GDP =[]

In [33]:
# Extracting Rank via Xpath
try:
    rank=driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[1]')
    for i in rank:
        Rank.append(i.text)
except NoSuchElementException:
    Rank.append('NA')
    
# Extracting state name via Xpath
try:
    state=driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[2]')
    for i in state:
        State.append(i.text)
except NoSuchElementException:
    State.append('NA')
    
# Extracting GDSP 19-20 via Xpath
try:
    gdsp_19_20=driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[3]')
    for i in gdsp_19_20:
        GDSP_19_20.append(i.text)
except NoSuchElementException:
    GDSP_19_20.append('NA')
    
# Extracting GDSP 18-19 via Xpath
try:
    gdsp_18_19=driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[4]')
    for i in gdsp_18_19:
        GDSP_18_19.append(i.text)
except NoSuchElementException:
    GDSP_18_19.append('NA')
    
# Extracting share in billons via Xpath
try:
    share=driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[5]')
    for i in share:
        Share.append(i.text)
except NoSuchElementException:
    Share.append('NA')

# Extracting GDP via Xpath
try:
    gdp=driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[6]')
    for i in gdp:
        GDP.append(i.text)
except NoSuchElementException:
    GDP.append('NA')

In [34]:
len(Rank),len(State),len(GDSP_18_19),len(GDSP_19_20),len(Share),len(GDP)

(33, 33, 33, 33, 33, 33)

In [35]:
# Dataframe for scrap data

Statewise_GDP=pd.DataFrame({'Rank':Rank,'State':State,'GDSP 18-19':GDSP_18_19,'GDSP 19-20':GDSP_19_20,'Share':Share,'GDP (in Billions)':GDP})
print('\033[1m'+'State-wise GDP of India :'+'\033[0m')
Statewise_GDP

State-wise GDP of India :

,Rank,State,GDSP 18-19,GDSP 19-20,Share,GDP (in Billions)
0,1,Maharashtra,"2,632,792",-,13.94%,399.921
1,2,Tamil Nadu,"1,630,208","1,845,853",8.63%,247.629
2,3,Uttar Pradesh,"1,584,764","1,687,818",8.39%,240.726
3,4,Gujarat,"1,502,899",-,7.96%,228.290
4,5,Karnataka,"1,493,127","1,631,977",7.91%,226.806
5,6,West Bengal,"1,089,898","1,253,832",5.77%,165.556
6,7,Rajasthan,"942,586","1,020,989",4.99%,143.179
7,8,Andhra Pradesh,"862,957","972,782",4.57%,131.083
8,9,Telangana,"861,031","969,604",4.56%,130.791
9,10,Madhya Pradesh,"809,592","906,672",4.29%,122.977
10,11,Kerala,"781,653",-,4.14%,118.733
11,12,Delhi,"774,870","856,112",4.10%,117.703
12,13,Haryana,"734,163","831,610",3.89%,111.519
13,14,Bihar,"530,363","611,804",2.81%,80.562
14,15,Punjab,"526,376","574,760",2.79%,79.957
15,16,Odisha,"487,805","521,275",2.58%,74.098
16,17,Assam,"315,881",-,1.67%,47.982
17,18,Chhattisgarh,"304,063","329,180",1.61%,46.187
18,19,Jharkhand,"297,204","328,598",1.57%,45.145
19,20,Uttarakhand,"245,895",-,1.30%,37.351
20,21,Jammu & Kashmir,"155,956",-,0.83%,23.690
21,22,Himachal Pradesh,"153,845","165,472",0.81%,23.369
22,23,Goa,"73,170","80,449",0.39%,11.115
23,24,Tripura,"49,845","55,984",0.26%,7.571
24,25,Chandigarh,"42,114",-,0.22%,6.397
25,26,Puducherry,"34,433","38,253",0.18%,5.230
26,27,Meghalaya,"33,481","36,572",0.18%,5.086
27,28,Sikkim,"28,723","32,496",0.15%,4.363
28,29,Manipur,"27,870","31,790",0.15%,4.233
29,30,Nagaland,"27,283",-,0.14%,4.144
30,31,Arunachal Pradesh,"24,603",-,0.13%,3.737
31,32,Mizoram,"22,287","26,503",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

In [ ]:
driver.close()

### 4. Scrape the details of trending repositories on Github.com.

In [24]:
# Activating the chrome browser
driver=webdriver.Chrome(r"C:\Users\Rabi Kumar\Downloads\File\chormedriver.exe")
time.sleep(1)

In [25]:
# Opening github webpage
url='https://github.com/'
driver.get(url)
time.sleep(1)

In [26]:
driver.maximize_window()

In [28]:
explore = driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button')
explore.click()

In [31]:
trending = driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/div[3]/ul/li[2]/a')
trending.click()

In [ ]:
# Creating Empty list for Scraping Data

Repository_title=[]
Repository_description=[]
Contributors_count=[]
Language_used=[]

In [52]:
#scraping the Repositor_Name 
R_t=driver.find_elements(By.XPATH,'//span[@class="text-normal"]')
for i in R_t:
    if i.text is None :
        Repository_title.append("--") 
    else:
        Repository_title.append(i.text)

In [53]:
#scraping the Description 
des=driver.find_elements(By.XPATH,'//p[@class="col-9 color-fg-muted my-1 pr-4"]')
for i in des:
    if i.text is None :
        Repository_description.append("--")
    else:
        Repository_description.append(i.text)

In [54]:
#scraping the Language 
lan=driver.find_elements(By.XPATH,'//span[@itemprop="programmingLanguage"]')
for i in lan:
    if i.text is None :
        Language_used.append("--") 
    else:
        Language_used.append(i.text)

In [46]:
#scraping the Contributors_count
con=driver.find_elements(By.XPATH,'//a[@class="Link--muted d-inline-block mr-3"]')
for i in con:
    if i.text is None :
        Contributors_count.append("--") 
    else:
        Contributors_count.append(i.text)

In [51]:
# Dataframe for scrap data

Github=pd.DataFrame({'Repository_title':Repository_title[:25],'Repository_description':Repository_description[:25],'Contributors_count':Contributors_count[:25],'Language_used':Language_used[:25]})
print('\033[1m'+'GitHub Trending Repository :'+'\033[0m')
Github

GitHub Trending Repository :

,Repository_title,Repository_description,Contributors_count,Language_used
0,suno-ai /,🔊 Text-Prompted Generative Audio Model,"10,926",Python
1,OpenLMLab /,An open-source tool-augmented conversational l...,723,Python
2,xtekky /,"decentralising the Ai Industry, free gpt-4/3.5...","7,529",Python
3,sanchit-gandhi /,⚖️ AI 法律助手,646,Python
4,lvwzhen /,ChatGPT interface with better UI + running on ...,"3,855",TypeScript
5,xtekky /,mall项目是一套电商系统，包括前台商城系统及后台管理系统，基于SpringBoot+MyB...,292,Python
6,macrozheng /,Python - 100天从新手到大师,"1,917",Java
7,jackfrued /,Auto-GPT中文版本及爱好者组织 同步更新原项目 AI领域创业 自媒体组织 用AI工作学...,114,Python
8,kaqijiang /,潘多拉，一个不只是命令行的ChatGPT。,"1,950",Python
9,pengzhile /,Inpaint anything using Segment Anything and in...,289,Python
10,geekyutao /,Superpower ChatGPT Chrome Extension,424,Jupyter Notebook
11,saeedezzati /,😎 Awesome lists about all kinds of interesting...,95,JavaScript
12,sindresorhus /,"Babylon.js is a powerful, beautiful, simple, a...","65,526",TypeScript
13,BabylonJS /,"langchain-ChatGLM, local knowledge based ChatG...","26,650",Python
14,imClumsyPanda /,人人可用的开源数据可视化分析工具。,"134,964",Java
15,dataease /,Fay是一个完整的开源项目，包含Fay控制器及数字人模型，可灵活组合出不同的应用场景：虚拟主...,"48,924",JavaScript
16,TheRamU /,闻达：一个LLM调用平台。为小模型外挂知识库查找和设计自动执行动作，实现不亚于于大模型的生成能力,"1,369",CSS
17,l15y /,One-Click to deploy well-designed ChatGPT web ...,180,TypeScript
18,Yidadaa /,"Wechat robot based on ChatGPT, which using Ope...","2,208",Python
19,zhayujie /,a better universal ui system,319,TypeScript
20,tamagui /,An Artificial Intelligence Automation Platform...,"2,193",Python
21,Josh-XT /,"HuggingLLM, Hugging Future.",156,Jupyter Notebook
22,datawhalechina /,bloop is a fast code search engine written in ...,358,TypeScript
23,BloopAI /,"🤖 Assemble, configure, and deploy autonomous A...",35,TypeScript
24,Dogtiti /,🔊 Text-Prompted Generative Audio Model,"250,542",Python

In [ ]:
driver.close()

### 5. Scrape the details of top 100 songs on billiboard.com.

In [2]:
# Activating the chrome browser
driver=webdriver.Chrome(r"C:\Users\Rabi Kumar\Downloads\File\chormedriver.exe")
time.sleep(1)

In [3]:
# Opening billboard webpage
url='https://www.billboard.com/'
driver.get(url)
time.sleep(1)

In [4]:
driver.maximize_window()

In [5]:
nav=driver.find_element(By.XPATH,'/html/body/div[3]/header/div/div[2]/div/div/div[1]/div[1]/button')
nav.click()

time.sleep(2)

In [6]:
#Hot 100 songs

hot_100=driver.find_element(By.XPATH,'/html/body/div[3]/div[9]/div/div/div/ul/li[1]/ul/li[2]/a')
hot_100.click()

In [7]:
# Creating Empty List

Song_name=[]
Artist_name=[]
Last_week_rank=[]
Peak_rank=[]
Weeks_on_board=[]

In [8]:
#Scrapping the data having the song name
song_nam=driver.find_elements(By.XPATH,'//h3[@class="c-title  a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 lrv-u-font-size-18@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-330 u-max-width-230@tablet-only"]')
for i in song_nam:
    if i.text is None:
        Song_name.append('-')
    else:
        Song_name.append(i.text)

In [9]:
#Scrapping the data having the Artist_name

artist_nam=driver.find_elements(By.XPATH,'//span[@class="c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only"]')
for i in artist_nam:
    if i.text is None:
        Artist_name.append('-')
    else:
        Artist_name.append(i.text)

In [10]:
#Scrapping the data having the Last_week_rank

last_rank=driver.find_elements(By.XPATH,'//li[@class="o-chart-results-list__item // a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-background-color-white-064@mobile-max u-hidden@mobile-max"]')
for i in last_rank:
    if i.text is None:
        Last_week_rank.append('-')
    else:
        Last_week_rank.append(i.text)

In [11]:
#Scrapping the data having the Peak_rank

peak_rank=driver.find_elements(By.XPATH,'//li[@class="o-chart-results-list__item // a-chart-bg-color a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-background-color-grey-lightest lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-hidden@mobile-max"]')
for i in peak_rank:
    if i.text is None:
        Peak_rank.append('-')
    else:
        Peak_rank.append(i.text)

In [12]:
#Scrapping the data having the Weeks_on_board

board=driver.find_elements(By.XPATH,'//li[@class="o-chart-results-list__item // a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-background-color-white-064@mobile-max u-hidden@mobile-max"]')
for i in board:
    if i.text is None:
        Weeks_on_board.append('-')
    else:
        Weeks_on_board.append(i.text)

In [14]:
# Dataframe for scrap data

billiboard=pd.DataFrame({'Song_name':Song_name[:99],'Artist_name':Artist_name[:99],'Last_week_rank':Last_week_rank[:99],'Peak_rank':Peak_rank[:99],'Weeks_on_board':Weeks_on_board[:99]})
billiboard

,Song_name,Artist_name,Last_week_rank,Peak_rank,Weeks_on_board
0,Last Night,Morgan Wallen,4,,4
1,Flowers,Miley Cyrus,19,1,19
2,Princess Diana,Ice Spice & Nicki Minaj,1,,1
3,Ella Baila Sola,Eslabon Armado X Peso Pluma,12,1,12
4,Creepin',"Metro Boomin, The Weeknd & 21 Savage",3,,3
...,...,...,...,...,...
94,Memory Lane,Old Dominion,-,,-
95,Love Again,The Kid LAROI,1,48,1
96,'98 Braves,Morgan Wallen,36,,36
97,Di Que Si,Grupo Marca Registrada X Grupo Frontera,23,29,23
98,It Matters To Her,Scotty McCreery,60,,60

In [ ]:
driver.close()

### 6. Scrape the details of Highest sellingnovels.

In [15]:
# Activating the chrome browser
driver=webdriver.Chrome(r"C:\Users\Rabi Kumar\Downloads\File\chormedriver.exe")
time.sleep(1)

In [16]:
# Opening Highest sellingnovels webpage
url='https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare'
driver.get(url)
time.sleep(1)

In [17]:
driver.maximize_window()

In [18]:
# Creating Empty Lists
Book =[]
Author =[]
Volumes_sold =[]
Publisher =[]
Genre =[]

In [20]:
# Scraping Book name
try:
    book=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[2]')
    for i in book:
        Book.append(i.text)
except NoSuchElementException:
    Book.append('NA')

In [21]:
# Scraping Book author's via Xpath
try:
    author=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[3]')
    for i in author:
        Author.append(i.text)
except NoSuchElementException:
    Author.append('NA')

In [22]:
# Scraping Volumes sold via Xpath
try:
    sold=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[4]')
    for i in sold:
        Volumes_sold.append(i.text)
except NoSuchElementException:
    Volumes_sold.append('NA')

In [23]:
# Scraping publisher via xPath
try:
    publisher=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[5]')
    for i in publisher:
        Publisher.append(i.text)
except NoSuchElementException:
    Publisher.append('NA')

In [24]:
# Scraping Genre via Xpath
try:
    genre=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[6]')
    for i in genre:
        Genre.append(i.text)
except NoSuchElementException:
    Genre.append('NA')

In [25]:
#creating dataframe
Top_Books=pd.DataFrame({"Book Title":Book,
                "Author Name":Author,
                'Volumes sold':Volumes_sold,
                'Publisher':Publisher,
                'Genre':Genre})
print('\033[1m'+'Best Selling Books of All Time List by The Guardian  :'+'\033[0m')
Top_Books

Best Selling Books of All Time List by The Guardian  :

,Book Title,Author Name,Volumes sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [26]:
driver.close()

### 7. Scrape the details most watched tv series of all time from imdb.com.

In [27]:
# Activating the chrome browser
driver=webdriver.Chrome(r"C:\Users\Rabi Kumar\Downloads\File\chormedriver.exe")
time.sleep(1)

In [28]:
# Opening imdb webpage
url='https://www.imdb.com/list/ls095964455/'
driver.get(url)
time.sleep(1)

In [29]:
driver.maximize_window()

In [30]:
# Creating Empty List
Name =[]
Year_Span=[]
Genre =[]
Run_Time =[]
Ratings =[]
Votes =[]

In [32]:
# Scraping Name via Xpath
try:
    name=driver.find_elements(By.XPATH,'//h3[@class="lister-item-header"]/a')
    for i in name:
        Name.append(i.text)
except NoSuchElementException:
    Name.append('NA')

In [34]:
# Scraping Year span via Xpath
try:
    year=driver.find_elements(By.XPATH,'//h3[@class="lister-item-header"]/span[2]')
    for i in year:
        Year_Span.append(i.text)
except NoSuchElementException:
    Year_Span.append('NA')

In [35]:
# Scraping Genre via Xpath
try:
    genre=driver.find_elements(By.XPATH,'//span[@class="genre"]')
    for i in genre:
        Genre.append(i.text)
except NoSuchElementException:
    Genre.append('NA')

In [36]:
# Scraping RunTime via Xpath
try:
    runtime=driver.find_elements(By.XPATH,'//span[@class="runtime"]')
    for i in runtime:
        Run_Time.append(i.text)
except NoSuchElementException:
    Run_Time.append('NA')

In [37]:
# Scraping Ratings via Xpath
try:
    ratings=driver.find_elements(By.XPATH,'//div[@class="ipl-rating-star small"]/span[2]')
    for i in ratings:
        Ratings.append(i.text)
except NoSuchElementException:
    Ratings.append('NA')

In [38]:
# Scraping Votes via Xpath
try:
    votes=driver.find_elements(By.XPATH,'//span[@name="nv"]')
    for i in votes:
        Votes.append(i.text)
except NoSuchElementException:
    Votes.append('NA')

In [39]:
#creating dataframe
IMDB_TV=pd.DataFrame({"Name":Name,"Year Span":Year_Span,"Genre":Genre,"Run Time":Run_Time,"Ratings":Ratings,"Votes":Votes})
print('\033[1m'+'Top 100 most watched tv shows of all time IMDB :'+'\033[0m')
IMDB_TV

Top 100 most watched tv shows of all time IMDB :

,Name,Year Span,Genre,Run Time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,152,946"
1,Stranger Things,(2016–2024),"Drama, Fantasy, Horror",51 min,8.7,"1,235,114"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"1,022,677"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"300,981"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"259,892"
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,7.4,"51,380"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"63,424"
97,Criminal Minds,(2005– ),"Crime, Drama, Mystery",42 min,8.1,"206,781"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7,"42,923"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"256,341"

In [40]:
driver.close()

### 8. Details of Datasets from UCI machine learning repositories.

In [15]:
# Activating the chrome browser
driver=webdriver.Chrome(r"C:\Users\Rabi Kumar\Downloads\File\chormedriver.exe")
time.sleep(1)

In [16]:
# Opening uci webpage
url='https://archive.ics.uci.edu/'
driver.get(url)
time.sleep(1)

In [17]:
driver.maximize_window()

In [18]:
#Clicking on view all datasets link
datasets=driver.find_element(By.XPATH,'/html/body/table[1]/tbody/tr/td[2]/span[2]/a/font/b')
try:
    datasets.click()
except ElementNotInteractableException:
    driver.get(datasets.get_attribute('href'))

In [19]:
#Creating empty lists for storing the scrapped data
Dataset_name=[]
Data_type=[]
Task=[]
Attribute_type=[]
No_of_Instance=[]
No_of_Attribute=[]
Year=[]

In [20]:
#Scrapping the data having dataset name
try:
    names=driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[1]/table/tbody/tr/td[2]/p/b/a')
    for i in names:
        Dataset_name.append(i.text)
except NoSuchElementException:
    Dataset_name.append('-')

In [21]:
#Scrapping the data having data type
try:
    types=driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[2]')
    for i in types[1:]:
        Data_type.append(i.text)
except NoSuchElementException:
    Data_type.append('-')

In [22]:
#Scrapping the data having default task
try:
    task=driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[3]')
    for i in task[1:]:
        Task.append(i.text)
except NoSuchElementException:
    Task.append('-')

In [23]:
#Scrapping the data having attribute types
try:
    attribute=driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[4]')
    for i in attribute[1:]:
        Attribute_type.append(i.text)
except NoSuchElementException:
    Attribute_type.append('-')

In [24]:
#Scrapping the data having no of instances
try:
    instance=driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[5]')
    for i in instance[1:]:
        No_of_Instance.append(i.text)
except NoSuchElementException:
    No_of_Instance.append('-')

In [25]:
#Scrapping the data having no of attributes
try:
    attribute_no=driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[6]')
    for i in attribute_no[1:]:
        No_of_Attribute.append(i.text)
except NoSuchElementException:
    No_of_Attribute.append('-')

In [26]:
#Scrapping the data having the year details
try:
    year=driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[7]')
    for i in year[1:]:
        Year.append(i.text)
except NoSuchElementException:
    Year.append('-')

In [27]:
len(Dataset_name),len(Data_type),len(Task),len(Attribute_type),len(No_of_Instance),len(No_of_Attribute),len(Year)

(622, 622, 622, 622, 622, 622, 622)

In [28]:
# Creating Data Frame for UCI Dataset
UCI_Dataset=pd.DataFrame({'Dataset_name':Dataset_name,'Data Type':Data_type,'Task':Task,'Attribute Type':Attribute_type,'No of Instances':No_of_Instance,'No of Attribute':No_of_Attribute,'Year':Year})
print('\033[1m'+' UCI Machine Learning Dataset:'+'\033[0m')
UCI_Dataset

 UCI Machine Learning Dataset:

,Dataset_name,Data Type,Task,Attribute Type,No of Instances,No of Attribute,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
617,Influenza outbreak event prediction via Twitte...,Multivariate,Classification,"Integer, Real",75840,525,2020
618,Turkish Music Emotion Dataset,Multivariate,Classification,"Integer, Real",400,50,2020
619,Maternal Health Risk Data Set,,Classification,,1014,7,2020
620,Room Occupancy Estimation,"Multivariate, Time-Series",Classification,Real,10129,16,2021
621,Image Recognition Task Execution Times in Mobi...,Univariate,Regression,Real,4000,2,2021

In [29]:
driver.close()

### 9. Scrape the details of Data science recruiters Url = https://www.naukri.com/hr-recruiters-consultants

In [7]:
# Activating the chrome browser
driver=webdriver.Chrome(r"C:\Users\Rabi Kumar\Downloads\File\chormedriver.exe")
time.sleep(1)

In [8]:
# Opening naukri webpage
url='https://www.naukri.com/hr-recruiters-consultants'
driver.get(url)
time.sleep(1)

In [9]:
driver.maximize_window()

In [10]:
#Searching the input key and sending the key as Data Science.
    
search = driver.find_element(By.XPATH,'//input[@class="sugInp"]')
search.send_keys("Data science")

In [11]:
#Searching the search Button and Clicking it.
   
search_btn = driver.find_element(By.XPATH,'//button[@class="fl qsbSrch blueBtn"]')
search_btn.click()

In [12]:
# Creating Empty List
Name =[]
Designation =[]
Company =[]
Skill =[]
Location =[]

In [13]:
# Scraping  Name
try:
    name=driver.find_elements(By.XPATH,'//span[@class="fl ellipsis"]')
    for i in name:
        Name.append(i.text)
except NoSuchElementException:
        Name.append('NA')

# Scraping Designation
try:
    designation=driver.find_elements(By.XPATH,'//span[@class="ellipsis clr"]')
    for i in designation:
        Designation.append(i.text)
except NoSuchElementException:
    Designation.append('NA')
    
# Scraping Company
try:
    company=driver.find_elements(By.XPATH,'//a[@class="ellipsis"][2]')
    for i in company:
        Company.append(i.text)
except NoSuchElementException:
    Company.append('NA')
# Scraping skill for they hire
try:
    skill=driver.find_elements(By.XPATH,'//div[@class="hireSec highlightable"]')
    for i in skill:
        Skill.append(i.text)
except NoSuchElementException:
    Skill.append('NA')
    
# Scraping Song Artist Name
try:
    location=driver.find_elements(By.XPATH,'//small[@class="ellipsis"]')
    if location:
        for i in location:
            Location.append(i.text)
    else:
        Location.append('NA')
except NoSuchElementException:
    Location.append('NA')

In [14]:
len(Name),len(Designation),len(Company),len(Skill),len(Location)

(50, 50, 50, 50, 49)

In [16]:
recruiters=pd.DataFrame({'Name':Name[:49],'Designation':Designation[:49],'Company':Company[49],'Skill':Skill[49],'Location':Location})
print('\033[1m'+'Naukri.com Data Science recruiters :'+'\033[0m')
recruiters

Naukri.com Data Science recruiters :

,Name,Designation,Company,Skill,Location
0,Aakash Harit,HR Manager,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Pune
3,Anik Agrawal,Company Recruiter,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Ahmedabad
4,subhas patel,Founder CEO,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",UK - (london)
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Vadodara / Baroda
6,Institute for Financial Management and Resear,Programme Manager,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Chennai
7,Balu Ramesh,HR Administrator,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Trivandrum
8,Asif Lucknowi,Director,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Indore
9,InstaFinancials,Human Resource,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Bengaluru / Bangalore
10,Kalpana Dumpala,Executive Hiring,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Hyderabad / Secunderabad
11,Mubarak,Company HR,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Bengaluru / Bangalore
12,Kushal Rastogi,Company HR,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Mumbai
13,Priyanka Akiri,HR Manager,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Hyderabad
14,Kapil Devang,HR Manager,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Bhopal
15,Mahesh Babu Channa,HR Team Lead,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Hyderabad / Secunderabad
16,Vaishnavi Kudalkar,HR Executive,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Mumbai
17,Sakshi Chhikara,Assistant Manager HR,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Chandigarh
18,Ruchi Dhote,Senior Executive Talent Acquisition,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Pune
19,Manisha Yadav,HR Executive,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Navi Mumbai
20,Riya Rajesh,Manager Talent Acquisition,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Cochin
21,Rashmi Bhattacharjee,HR Head,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Delhi
22,Faizan Kareem,HR MANAGER,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Hyderabad / Secunderabad
23,Rithika dadwal,HR Recruiter,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Pune
24,Sandhya Khandagale,HR Recruiter,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Pune
25,Shaun Rao,Manager Human Resources,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Pune
26,Deeparchi Sharma,Company Recruiter,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Gurgaon
27,Azahar Shaikh,Company Recruiter,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Pune
28,Manas,Lead Talent acquisition,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Bengaluru / Bangalore
29,kumar,Proprietor,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Bengaluru / Bangalore
30,Sunil Vedula,CEO,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Delhi
31,Rajat Kumar,Founder CEO,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Bengaluru / Bangalore
32,Dhruv Dev Dubey,Company Recruitment Head,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Noida
33,Avnish Mishra,Senior Technical &amp; Corporate Recruiter,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Mysoru / Mysore
34,Jayanth N,Project Manager,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Hyderabad / Secunderabad
35,Avodha,Business Development Associate,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Bengaluru / Bangalore
36,Priya Khare,Senior Manager,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",New Delhi
37,Amit Sharma,Consultant,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Chennai
38,Kanan,senior technology instructor,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Aligarh
39,Shashikant Chaudhary,HR Recruiter/HR Excutive,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Salt Lake City
40,Brad,"Manager, Technical Recruiting",LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Pune
41,Rutuja Pawar,Technical Recruiter,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Bengaluru / Bangalore
42,Madhusudhan Sridhar,Erp Implementer,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Mumbai
43,Ankit Sinha,Head Analytics,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Indore
44,Gaurav Chouhan,Chief Technical Officer,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Bengaluru / Bangalore
45,Rashi Kacker,Sr Product Manager,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",MYSORE
46,Ashwini,Director Global Delivery,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Hyderabad / Secunderabad
47,Balaji Kolli,Co Founder,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Bengaluru / Bangalore
48,Rajani Nagaraj,HR Manager,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Mumbai

In [17]:
driver.close()